In [52]:
# Import requests library
import pandas as pd
import requests
import getpass

In [62]:
# In order to hide my password
rapidAPIkey = getpass.getpass()

········

### Activity 1, Making a fuction

In [49]:
def questions():
    url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/UK/GBP/en-GB/"
    city = input('Enter city name: ')
    params = {"query":city.title()}

    headers = {'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
                      'x-rapidapi-key': rapidAPIkey}

    response = requests.get(url, headers = headers, params = params)
    return response.json()

In [51]:
questions()

Enter city name: madrid

{'Places': [{'PlaceId': 'MAD-sky',
   'PlaceName': 'Madrid',
   'CountryId': 'ES-sky',
   'RegionId': '',
   'CityId': 'MADR-sky',
   'CountryName': 'Spain'}]}

In [80]:
# Note: the date needs to be in the near future. 
# The date is included both in the endpoint url and in the inboundpartialdate

url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/SFO-sky/NYCA-sky/2021-05-03"

params = {"inboundpartialdate":"2021-05-03"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': rapidAPIkey}

response = requests.get(url, headers=headers, params=params)

response.json()

{'Quotes': [{'QuoteId': 1,
   'MinPrice': 192,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [851],
    'OriginId': 81727,
    'DestinationId': 60987,
    'DepartureDate': '2021-05-03T00:00:00'},
   'QuoteDateTime': '2021-05-01T08:41:00'}],
 'Carriers': [{'CarrierId': 851, 'Name': 'Alaska Airlines'}],
 'Places': [{'Name': 'New York John F. Kennedy',
   'Type': 'Station',
   'PlaceId': 60987,
   'IataCode': 'JFK',
   'SkyscannerCode': 'JFK',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'Name': 'San Francisco International',
   'Type': 'Station',
   'PlaceId': 81727,
   'IataCode': 'SFO',
   'SkyscannerCode': 'SFO',
   'CityName': 'San Francisco',
   'CityId': 'SFOA',
   'CountryName': 'United States'}],
 'Currencies': [{'Code': 'USD',
   'Symbol': '$',
   'ThousandsSeparator': ',',
   'DecimalSeparator': '.',
   'SymbolOnLeft': True,
   'SpaceBetweenAmountAndSymbol': False,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}]}

In [ ]:
# Acticity 2
# We want to connect to the SkyScanner API and extract information from all the flights  
# flying from Munich to Berlin.  
# To do that you will need to get their city ID which you can  find in the first query 
# we used in the lesson.  In this activity you will just need to create a function 
# called city_code that takes a city_name(string-like, "Mumbai") as a parameter 
# and returns the city flight code.

In [76]:
# JSON example
jsontxt = '''{'Quotes': [{'QuoteId': 1,
   'MinPrice': 92.0,
   'Direct': False,
   'OutboundLeg': {'CarrierIds': [1065],
    'OriginId': 81727,
    'DestinationId': 50290,
    'DepartureDate': '2020-12-12T00:00:00'},
   'QuoteDateTime': '2020-09-21T10:49:00'},
  {'QuoteId': 2,
   'MinPrice': 133.0,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [851],
    'OriginId': 81727,
    'DestinationId': 50290,
    'DepartureDate': '2020-12-12T00:00:00'},
   'QuoteDateTime': '2020-09-21T10:49:00'}],
 'Places': [{'PlaceId': 50290,
   'IataCode': 'EWR',
   'Name': 'New York Newark',
   'Type': 'Station',
   'SkyscannerCode': 'EWR',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'PlaceId': 60987,
   'IataCode': 'JFK',
   'Name': 'New York John F. Kennedy',
   'Type': 'Station',
   'SkyscannerCode': 'JFK',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'PlaceId': 65633,
   'IataCode': 'LGA',
   'Name': 'New York LaGuardia',
   'Type': 'Station',
   'SkyscannerCode': 'LGA',
   'CityName': 'New York',
   'CityId': 'NYCA',
   'CountryName': 'United States'},
  {'PlaceId': 81727,
   'IataCode': 'SFO',
   'Name': 'San Francisco International',
   'Type': 'Station',
   'SkyscannerCode': 'SFO',
   'CityName': 'San Francisco',
   'CityId': 'SFOA',
   'CountryName': 'United States'}],
 'Carriers': [{'CarrierId': 819, 'Name': 'Aegean Airlines'},
  {'CarrierId': 851, 'Name': 'Alaska Airlines'},
  {'CarrierId': 870, 'Name': 'jetBlue'},
  {'CarrierId': 1065, 'Name': 'Frontier Airlines'},
  {'CarrierId': 1721, 'Name': 'Sun Country Airlines'},
  {'CarrierId': 1793, 'Name': 'United'},
  {'CarrierId': 1902, 'Name': 'Southwest Airlines'}],
 'Currencies': [{'Code': 'USD',
   'Symbol': '$',
   'ThousandsSeparator': ',',
   'DecimalSeparator': '.',
   'SymbolOnLeft': True,
   'SpaceBetweenAmountAndSymbol': False,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}]}
'''

In [81]:
# Import libraries
import pandas as pd
import json

# Normalize the response

pd.json_normalize(response.json())
# If this doesn't work, try to import json_normalize directly from pandas.io.json

,Quotes,Carriers,Places,Currencies
0,"[{'QuoteId': 1, 'MinPrice': 192, 'Direct': Tru...","[{'CarrierId': 851, 'Name': 'Alaska Airlines'}]","[{'Name': 'New York John F. Kennedy', 'Type': ...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."

In [85]:
quotes = pd.DataFrame(pd.json_normalize(response.json())["Quotes"][0])
carriers = pd.DataFrame(pd.json_normalize(response.json())["Carriers"][0])
places = pd.DataFrame(pd.json_normalize(response.json())["Places"][0])
currencies = pd.DataFrame(pd.json_normalize(response.json())["Currencies"][0])

In [88]:
display(quotes)
display(carriers)
display(places)
display(currencies)

,QuoteId,MinPrice,Direct,OutboundLeg,QuoteDateTime
0,1,192,True,"{'CarrierIds': [851], 'OriginId': 81727, 'Dest...",2021-05-01T08:41:00

   CarrierId             Name
0        851  Alaska Airlines

,Name,Type,PlaceId,IataCode,SkyscannerCode,CityName,CityId,CountryName
0,New York John F. Kennedy,Station,60987,JFK,JFK,New York,NYCA,United States
1,San Francisco International,Station,81727,SFO,SFO,San Francisco,SFOA,United States

,Code,Symbol,ThousandsSeparator,DecimalSeparator,SymbolOnLeft,SpaceBetweenAmountAndSymbol,RoundingCoefficient,DecimalDigits
0,USD,$,",",.,True,False,0,2

In [101]:
flights = pd.DataFrame(pd.DataFrame(pd.json_normalize(response.json())["Quotes"][0])["OutboundLeg"][0])

In [102]:
flights

   CarrierIds  OriginId  DestinationId        DepartureDate
0         851     81727          60987  2021-04-29T00:00:00

In [ ]:
# putting all together:
# we will create a function for which if we introduce two dates, 
# an origin and a destination we will get the data from the cheapest flight 
# between these two dates.

In [127]:
def city_code(city_name):
    url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/US/USD/en-US/"
    params = {"query": city_name}
    headers = {'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
               'x-rapidapi-key': rapidAPIkey}
    response = requests.get(url, headers = headers, params = params)
    return response.json()["Places"][0]["PlaceId"]

def flight_prices(departure, arrival, date):
    departure_code = city_code(departure)
    arrival_code = city_code(arrival)
    url = f"https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/{departure_code}/{arrival_code}/{date}"
    params = {"inboundpartialdate":{date}}
    headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': rapidAPIkey}
    response = requests.get(url, headers=headers, params=params)
    return response.json()

In [128]:
def get_dates(start, end):
    return pd.Series(pd.date_range(start, end,freq='d').format())

In [129]:
def flight_days(origin, destination, start, end):
    dates = get_dates(start, end)
    return {date:flight_prices(origin, destination, date) for date in dates}

In [136]:
flights = flight_days("Amsterdam", "Madrid", "2021-05-10", "2021-05-14")

In [141]:
flights['2021-05-10']['Quotes']

[{'QuoteId': 1,
  'MinPrice': 56,
  'Direct': True,
  'OutboundLeg': {'CarrierIds': [1816],
   'OriginId': 40595,
   'DestinationId': 67652,
   'DepartureDate': '2021-05-10T00:00:00'},
  'QuoteDateTime': '2021-05-01T08:53:00'}]

In [130]:
def lowest_price(origin, destination, start, end):
    flights = flight_days(origin, destination, start, end)
    prices = {date:min([quote["MinPrice"] for quote in flights[date]["Quotes"]]) for date in flights for quote in flights[date]["Quotes"]}
    return min(prices, key = prices.get)

In [134]:
lowest_price("Amsterdam", "Madrid", "2021-05-10", "2021-05-14")

'2021-05-14'

In [142]:
def lowest_price(origin, destination, start, end):
    flights = flight_days(origin, destination, start, end)
    prices = {date:min([quote["MinPrice"] for quote in flights[date]["Quotes"]]) for date in flights}
    return min(prices, key = prices.get)

In [143]:
lowest_price("Amsterdam", "Madrid", "2021-05-10", "2021-05-14")

'2021-05-14'