In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_songs_recorded_by_Miley_Cyrus'

In [4]:
response = requests.get(url)
response.status_code

200

In [5]:
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
soup.select('table:nth-child(13) > tbody > tr:nth-child(6) > th > a')

## Practice web scraping

### 1. Wikipedia Python links

In [7]:
url ='https://en.wikipedia.org/wiki/Python'
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [8]:
num_itr = len(soup.select('li:nth-child(1) > a'))

In [9]:
name = []
link = []
for i in range(num_itr):
    name.append(soup.select('li:nth-child(1) > a')[i].get_text())
    link.append(soup.select('li:nth-child(1) > a')[i]['href'])

In [223]:
wiki_links = pd.DataFrame({'name':name,'link':link})
wiki_links.head(3)

             name                  link
0         Pythons         /wiki/Pythons
1  Python (genus)  /wiki/Python_(genus)
2     1 Computing            #Computing

### 2. Number of titles that have changed in the United States Code

In [46]:
url = 'https://uscode.house.gov/download/download.shtml'
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [47]:
change = []
for i in soup.select('div.usctitlechanged'):
    change.append(i.get_text())

In [71]:
print('Numeber of titles changed in USA Code are', len(change))

Numeber of titles changed in USA Code are 4

### 3. FBI's Most Wanted

In [187]:
url = 'https://www.fbi.gov/wanted/topten'
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [188]:
most_want = []
for i in soup.select('h3 > a'):
    most_want.append(i.get_text().title())

In [189]:
most_wanted = pd.DataFrame({'person':most_want})
most_wanted.head(3)

                           person
0            Rafael Caro-Quintero
1  Bhadreshkumar Chetanbhai Patel
2           Robert William Fisher

### 4. Earthquake

In [191]:
url = 'https://www.emsc-csem.org/Earthquake/'
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [192]:
country = []
lat = []
lon = []
date = []
hour = []
for i in range(len(soup.select('td.tb_region'))):
    country.append(soup.select('td.tb_region')[i].get_text().replace('\xa0','').title())
    lat.append(soup.select('td.tabev1')[i*2].get_text().replace('\xa0',''))
    lon.append(soup.select('td.tabev1')[i*2+1].get_text().replace('\xa0',''))
    date.append(soup.select('td.tabev6 > b > a')[i].get_text()[0:10])
    hour.append(soup.select('td.tabev6 > b > a')[i].get_text()[-10:-2])

In [193]:
earthquake = pd.DataFrame({'Region':country,'Date':date,'Hour':hour,'Latitude':lat,'Longitude':lon})
earthquake.head(3)

                            Region        Date      Hour Latitude Longitude
0      Kepulauan Talaud, Indonesia  2021-04-27  16:58:12     4.87    126.36
1  Kepulauan Barat Daya, Indonesia  2021-04-27  16:51:24     7.70    128.98
2          Kermadec Islands Region  2021-04-27  16:43:08    29.58    176.68

### 5.Language names and number of related articles

In [202]:
url = 'https://www.wikipedia.org/'
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [260]:
country = []
art = []

for i in range(len(soup.select('strong'))-2):
    country.append(soup.select('strong')[i+1].get_text())

for i in range(len(soup.select('small > bdi'))):
    art.append(soup.select('small > bdi')[i].get_text().replace('\xa0',' '))

In [262]:
wiki_art = pd.DataFrame({'Country':country,'Number of articles':art})
wiki_art.head(3)

   Country Number of articles
0  English         6 287 000+
1  Español         1 677 000+
2      日本語         1 265 000+

### 6. Different kind of datasets available in data.gov.uk:

In [279]:
url = 'https://data.gov.uk/'
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [280]:
data_base = []
for i in range(len(soup.select('h3 > a'))):
    data_base.append(soup.select('h3 > a')[i].get_text())

In [281]:
data_base = pd.DataFrame({'Data base':data_base})
data_base.head(3)

              Data base
0  Business and economy
1     Crime and justice
2               Defence